.slide {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 767px) {
        max-height: none;
        height: auto;
    }

    &-first {
        background-color: #18233A;
        height: 100vh;
        a[href^="tel"] {
            font-size: 14px;
            line-height: 36px;
            letter-spacing: 0.7px;

            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }

    &-wrapper {
        padding: 5% 300px;

        @media screen and (max-width: 1500px) {
            padding: 2% 150px;
        }

        @media screen and (min-height: 1000px) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 0 5%;
            min-width: 90%;
        }

        @media screen and (max-width: 767px) {
            padding: 146px 20px;
        }
    }

    &-holder {
        padding-left: 85px;

        @media screen and (max-width: 991px) {
            padding-left: 30px;
        }
    }

    &-left {
        flex: 0 0 70%;
        padding-right: 10%;
        font-size: 20px;
        line-height: 44px;
        letter-spacing: 1px;

        @media screen and (max-width: 1600px) {
            font-size: 16px;
            line-height: 36px;
        }

        @media screen and (max-width: 1500px) {
            font-size: 14px;
            line-height: 29px;
        }

        span {
            color: #000;
        }
    }

    &-right {
        flex: 0 0 30%;
        font-size: 18px;
        line-height: 36px;

        @media screen and (max-width: 1600px) {
            font-size: 16px;
        }

        @media screen and (max-width: 1500px) {
            font-size: 14px;
            line-height: 29px;
        }
        ul {
            li {
                position: relative;
                color: #717171;
                padding-left: 20px;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 18px;
                    width: 2px;
                    height: 2px;
                    border-radius: 2px;
                    background-color: #717171;

                    @media screen and (max-width: 1500px) {
                        top: 15px;
                    }
                }
            }
        }
    }

    &-top {
        margin-bottom: 60px;

        @media screen and (max-width: 1600px) {
            margin-bottom: 30px;
        }
    }

    &-menu {
        margin: 0 -40px;
        padding-top: 110px;

        @media screen and (max-width: 1600px) {
            padding-top: 50px;
        }
    }
}


.main-text {
    padding-top: 20%;

    @media screen and (max-width: 1500px) {
        padding-top: 13%;
    }
    >span {
        color: #fff;
        font-size: 36px;
        line-height: 100px;
        letter-spacing: 36px;
        text-transform: uppercase;
        display: block;
        margin-bottom: 30px;

        @media screen and (max-width: 1600px) {
            font-size: 35px;
            line-height: 85px;
            letter-spacing: 29px;
        }

        @media screen and (max-width: 767px) {
            font-size: 14px;
            line-height: 40px;
            letter-spacing: 8px;
        }
    }

    ul {
        margin-bottom: 15px;

        @media screen and (max-width: 767px) {
            margin-bottom: 0;
        }
        li {
            font-size: 20px;
            line-height: 44px;

            @media screen and (max-width: 767px) {
                font-size: 12px;
                line-height: 36px;
            }
        }
    }

    a {
        @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 36px;
        }
    }
}

.menu {
    &-button {
        background-color: #18233A;
        padding: 48px 120px;
        color: #fff;
        font-size: 20px;
        line-height: 24px;
        min-width: 380px;
        text-align: center;
        display: block;
        margin-bottom: 37px;

        @media screen and (max-width: 1600px) {
            margin-bottom: 20px;
            font-size: 16px;
            padding: 30px 90px;
            min-width: 280px;
        }

        @media screen and (max-width: 991px) {
            padding: 20px 70px;
            min-width: 240px;
        }
    }

    &-item {
        padding: 0 40px;

        ul {
            li {
                font-size: 18px;
                line-height: 36px;
                color: #717171;

                @media screen and (max-width: 1600px) {
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }
    }
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    left: 0;
    background-color: rgba(216, 216, 216, 0.1);

    @media screen and (max-width: 1500px) {
        width: 200px;
    }

    @media screen and (min-height: 1000px) {
        width: 100px;
    }

    @media screen and (max-width: 991px) {
        width: 80px;
    }

    @media screen and (max-width: 767px) {
        width: 40px;
    }
}

.heading-h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: #BC814C;
    margin-bottom: 60px;

    @media screen and (max-width: 1500px) {
        margin-bottom: 30px;
    }
}

.video-section {
    width: 360px;
    height: 600px;
    position: relative;
    background-color: #ccc;

    @media screen and (max-width: 1500px) {
        width: 300px;
        height: 400px;
    }

    @media screen and (max-width: 991px) {
        width: 200px;
    }
}

.btn-video {
    position: absolute;
    bottom: 40px;
    left: -60px;
    background-color: #18233A;
    padding: 48px 90px;
    color: #fff;
    text-align: center;
    border: none;
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;

    @media screen and (max-width: 1500px) {
        padding: 30px 60px;
        font-size: 16px;
    }

    @media screen and (max-width: 991px) {
        padding: 24px 40px;
    }
}

.user-info {
    font-size: 18px;
    line-height: 30px;
    padding-top: 100px;

    @media screen and (max-width: 1500px) {
        font-size: 14px;
        line-height: 29px;
    }

    p {
        margin: 0;
    }
}