.slide {
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    @media screen and (max-width: 767px) {
        max-height: none; //height: auto;
        height: auto;
    }

    &-first {
        background-image: url('../images/first.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;

        a[href^="tel"] {
            font-size: 14px;
            line-height: 36px;
            letter-spacing: 0.7px;

            @media screen and (max-width: 767px) {
                display: none;
            }

            &.mobile {
                @media screen and (max-width: 767px) {
                    display: block;
                    margin-bottom: 30px;
                }
            }
        }

        &:after {
            content: '';
            width: 1px;
            position: absolute;
            left: 50%;
            top: -60px;
            height: 0;
            transform-origin: 100% 100%;
            transform: rotate(28deg);
            background-color: #FFDFAB;
            animation: line 0.3s steps(60, end);
            animation-delay: 2s;
            animation-fill-mode: forwards;

            @media screen and (max-width: 1500px) {
                display: none;
            }
        }
    }

    &-second,
    &-third,
    &-fourth,
    &-fifth {
        @media screen and (max-width: 767px) {
            height: auto;
        }

        .slide-wrapper {
            padding-top: 40px;
            padding-bottom: 40px;

        }

        .slide-holder {}
    }

    &-fifth {

        .slide-wrapper,
        .slide-holder {
            @media screen and (max-width: 767px) {
                padding: 0;
            }
        }

        .sidebar {
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }

    &-video {
        @media screen and (max-width: 767px) {
            height: 100vh;
        }

        video {
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            //position: absolute;
            -o-object-fit: cover;
            object-fit: cover;

            // @media screen and (max-width: 767px) {
            //     position: relative;
            //     transform: translate(0, 0);
            //     left: auto;
            //     top: auto;
            //     z-index: 1;
            // }
        }

        &:after {
            content: '';
            position: absolute;
            background-color: #18233A;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 1;
            transition: opacity 3s;

            @media screen and (max-width: 767px) {
                opacity: 0;
                display: none;
            }
        }
    }

    &-wrapper {
        padding: 8% 300px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 70%;
        // z-index: 2;

        @media screen and (max-width: 1500px) {
            padding: 2% 150px;
        }

        @media screen and (min-height: 1000px) {
            padding: 0 5%;
        }

        @media screen and (max-width: 767px) {
            padding: 35px 20px;
            position: static;
            transform: translate(0, 0);
        }

        @media screen and (max-width: 567px) {
            padding: 80px 20px;
        }
    }

    &-holder {
        padding-left: 85px;

        @media screen and (max-width: 1200px) {
            padding-left: 0;
        }

        @media screen and (max-width: 991px) {
            padding-left: 30px;
        }

        @media screen and (max-width: 767px) {
            padding-left: 56px;
        }
    }

    &-left {
        flex: 0 0 70%;
        padding-right: 10%;
        font-size: 20px;
        line-height: 44px;
        letter-spacing: 1px;

        @media screen and (max-width: 1600px) {
            font-size: 16px;
            line-height: 36px;
        }

        @media screen and (max-width: 1500px) {
            font-size: 14px;
            line-height: 29px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 20px;
            font-size: 13px;
            line-height: 24px;
        }

        span {
            color: #000;
        }
    }

    &-right {
        flex: 0 0 30%;
        font-size: 18px;
        line-height: 36px;

        @media screen and (max-width: 1600px) {
            font-size: 16px;
        }

        @media screen and (max-width: 1500px) {
            font-size: 14px;
            line-height: 29px;
        }

        ul {
            li {
                position: relative;
                color: #717171;
                padding-left: 20px;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 18px;
                    width: 2px;
                    height: 2px;
                    border-radius: 2px;
                    background-color: #717171;

                    @media screen and (max-width: 1500px) {
                        top: 15px;
                    }
                }
            }
        }
    }

    &-top {
        margin-bottom: 60px;

        @media screen and (max-width: 1600px) {
            margin-bottom: 30px;
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 12px;
        }

        a[href^="tel"] {
            font-size: 24px;

            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }

    &-menu {
        margin: 0 -40px;
        padding-top: 110px;

        @media screen and (max-width: 1600px) {
            padding-top: 50px;
        }

        @media screen and (max-width: 767px) {
            padding-top: 20px;
        }
    }
}

.sound {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    z-index: 3;
    cursor: pointer;

    &-off {
        display: none;
    }

    img {
        width: 40px;
    }
}

.swiper-slide-active {
    .slide-video {
        &:after {
            opacity: 0.3;
        }
    }
}

.swiper-slide-prev {
    .main-menu {
        .line {
            height: 2000px;
            transform: rotate(-340deg);
            background-color: #FFDFAB;

        }
    }
}

.swiper-container {
    @media screen and (max-width: 767px) {
        overflow: visible;
    }
}

.swiper-wrapper {
    @media screen and (max-width: 767px) {
        display: block;
    }
}

.main-menu {
    display: inline-block;
    position: relative;

    .line {
        width: 1px;
        position: absolute;
        left: calc(100% + 70%);
        top: 0;
        height: 200px;
        transform-origin: 0 0;
        transform: rotate(28deg);
        background-color: #ccc;
        transition: all 0.6s;
        overflow: hidden;

        @media screen and (max-width: 1500px) {
            left: 120%;
        }

        @media screen and (max-width: 767px) {
            height: 120px;
            display: none;
        }

        &:after {
            position: absolute;
            content: '';
            background-color: #bc814c;
            top: 0;
            left: 0;
            height: 100px;
            width: 1px;
            animation-name: transl;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-fill-mode: both;

        }
    }

    ul {
        margin-bottom: 15px;

        @media screen and (max-width: 767px) {
            margin-bottom: 0;
        }

        li {
            font-size: 20px;
            line-height: 44px;
            cursor: pointer;

            @media screen and (max-width: 767px) {
                font-size: 12px;
                line-height: 36px;
            }
        }
    }

    a {
        opacity: 0;
        animation-name: blink;
        animation-duration: 2s;
        animation-delay: 4s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: both;
    }
}

.main-text {
    padding-top: 20%;

    @media screen and (max-width: 1500px) {
        padding-top: 13%;
    }

    @media screen and (max-width: 767px) {
        padding-top: 0;
    }

    @media screen and (max-width: 480px) {
        padding-top: 5%;
    }

    &__wrapper {
        position: relative;

        &:after {
            content: '';
            width: 1px;
            position: absolute;
            right: 35%;
            bottom: 0;
            height: 0;
            transform-origin: 100% 100%;
            transform: rotate(28deg);
            background-color: #FFDFAB;
            animation: line 0.3s steps(60, end);
            animation-delay: 2s;
            animation-fill-mode: forwards;

            @media screen and (max-width: 1500px) {
                right: 15%;
                display: none;
            }

            @media screen and (max-width: 1300px) {
                right: 6%;
            }

            @media screen and (max-width: 1200px) {
                display: none;
            }
        }

        >span {
            color: #fff;
            font-size: 36px;
            line-height: 100px;
            letter-spacing: 36px;
            text-transform: uppercase;
            display: block;
            margin-bottom: 30px;
            position: relative;

            overflow: hidden;
            width: 55%;

            &.active {
                animation: type 2s steps(60, end);
            }



            @media screen and (max-width: 1800px) {
                letter-spacing: 30px;
            }

            @media screen and (max-width: 1600px) {
                font-size: 35px;
                line-height: 85px;
                letter-spacing: 20px;
            }

            @media screen and (max-width: 767px) {
                font-size: 14px;
                line-height: 40px;
                letter-spacing: 8px;
                margin-bottom: 0;
            }

            @media screen and (max-width: 320px) {
                letter-spacing: 5px;
            }
        }
    }







    a {
        @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 36px;
        }
    }
}

.fadeIn {
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 2s;

    &.active {
        opacity: 1;
    }
}

.menu {
    &-button {
        background-color: #18233A;
        padding: 48px 0;
        width: 100%;
        color: #fff;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        display: block;
        margin-bottom: 37px;
        cursor: pointer;

        @media screen and (max-width: 1600px) {
            margin-bottom: 20px;
            font-size: 16px;
            padding: 30px 0;
        }

        @media screen and (max-width: 991px) {
            padding: 20px 0;
        }
    }

    &-item {
        padding: 0 40px;
        width: 350px;
        display: inline-block;
        vertical-align: top;

        @media screen and (max-width: 1200px) {
            width: 260px;
        }

        @media screen and (max-width: 767px) {
            display: block;
            width: auto;
            margin-bottom: 20px;
        }

        ul {
            li {
                font-size: 18px;
                line-height: 36px;
                color: #717171;

                @media screen and (max-width: 1600px) {
                    font-size: 16px;
                    line-height: 28px;
                }
            }
        }
    }
}

@keyframes transl {
    to {
        transform: translate(0, 200px);
    }
}

@keyframes blink {
    to {
        opacity: 1;
    }
}



@keyframes type {
    from {
        width: 0;
    }
}

@keyframes line {
    to {
        height: 200px;
    }
}

@media screen and (max-width: 1500px) {
    @keyframes line {
        to {
            height: 130px;
        }
    }
}

.sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 300px;
    left: 0;
    z-index: 1;
    background-color: rgba(216, 216, 216, 0.1);

    @media screen and (max-width: 1700px) {
        width: 200px;
    }

    @media screen and (max-width: 1200px) {
        width: 120px;
    }

    @media screen and (min-height: 1000px) {
        width: 100px;
    }

    @media screen and (max-width: 991px) {
        width: 80px;
    }

    @media screen and (max-width: 767px) {
        width: 56px;
    }

    &-img {
        padding-top: 100px;
        text-align: center;

        @media screen and (max-width: 767px) {
            width: 20px;
            margin: 0 auto;
            padding-top: 40px;
        }
    }
}

.heading-h2 {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    color: #BC814C;
    margin-bottom: 60px;

    @media screen and (max-width: 1500px) {
        margin-bottom: 30px;
    }

    @media screen and (max-width: 767px) {
        font-size: 17px;
        margin-bottom: 15px;
        font-weight: normal;
    }
}

.section-name {
    color: #BC814C;
    font-size: 20px;
    line-height: 24px;
}

.video-section {
    width: 360px;
    height: 600px;
    position: relative;
    background-color: #ccc;
    background-size: cover;
    background-position: center;


    @media screen and (max-width: 1500px) {
        width: 300px;
        height: 400px;
    }

    @media screen and (max-width: 991px) {
        width: 200px;
    }

    @media screen and (min-width: 768px) {
        background-image: none !important;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
        height: 432px;
        overflow: hidden;
    }

}

.video-text {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 36px;
    line-height: 100px;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 20%;
    left: 20%;

    @media screen and (max-width: 767px) {
        font-size: 19px;
        letter-spacing: 22px;
        line-height: 56px;
        z-index: 2;
    }

    // &:after {
    //     content: '';
    //     position: absolute;
    //     top: calc(100% + 10px);
    //     height: 1px;
    //     width: 2000px;
    //     right: 0;
    //     background-color: #FFDFAB;
    // }
}

.video-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: #000;
    cursor: pointer;
    z-index: 2;

    &:before {
        position: absolute;
        content: '';
        margin: auto;
        width: calc(30px/8);
        height: calc(30px/1.5);
        background-color: #BC814C;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: rotate(45deg)
    }

    &:after {
        position: absolute;
        content: '';
        margin: auto;
        width: calc(30px/1.5);
        height: calc(30px/8);
        background-color: #BC814C;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: rotate(45deg)
    }
}

.video-box {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0;
    overflow: hidden;
    transition: width 0.3s;

    @media screen and (max-width: 1500px) {
        top: -70px;
    }

    @media screen and (max-width: 767px) {
        left: 0;
        top: 0;
    }

    &.active {
        width: 980px;
        overflow: visible;

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    video {
        width: 100%;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // min-width: 100%;
        // min-height: 100%;
        // width: auto;
        // height: auto;
        position: relative;
        z-index: 1;
        // -webkit-transform: translate(-50%, -50%);
        // transform: translate(-50%, -50%);
        // z-index: 1;

        // @media screen and (max-width: 1500px) {
        //     position: static;
        // }
    }

    img {
        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:focus {
        outline: none;
    }
}

.btn-primary {
    padding: 26px 55px;
    background: #BC814C;
    border: 2px solid #BC814C;
    box-sizing: border-box;
    color: #fff;
    box-shadow: 0px 30px 24px rgba(0, 0, 0, 0.3);

    @media screen and (max-width: 767px) {
        padding: 13px;
        width: 100%;
    }

    img {
        margin-right: 10px;
    }

    span,
    img {
        display: inline-block;
        vertical-align: middle;
    }
}

.btn-modal {
    width: 100%;
    padding: 19px 30px;
    background: #18233A;
    color: #fff;

    img {
        display: none;
        margin-right: 10px;
        vertical-align: middle;
    }

    &.active {

        background: linear-gradient(0deg, #48BD45, #48BD45), #18233A;

        img {
            display: inline-block;
        }
    }
}

.btn-video {
    position: absolute;
    bottom: 40px;
    left: -60px;
    background-color: #18233A;
    padding: 48px 90px;
    color: #fff;
    text-align: center;
    border: none;
    line-height: 24px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    @media screen and (max-width: 1500px) {
        padding: 30px 60px;
        font-size: 16px;
    }

    @media screen and (max-width: 991px) {
        padding: 24px 40px;
    }

    @media screen and (max-width: 767px) {
        width: 60px;
        height: 60px;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #18233A;
        font-size: 0;
    }

    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 0 5px 10px;
        border-color: transparent transparent transparent #BC814C;
        opacity: 0;

        @media screen and (max-width: 767px) {
            opacity: 1;
        }
    }

    &__inverse {
        background-color: #BC814C;
        color: #fff;

        &:after {
            border-color: transparent transparent transparent #fff;
        }
    }
}

.user-info {
    font-size: 18px;
    line-height: 30px;
    padding-top: 100px;

    @media screen and (max-width: 1500px) {
        font-size: 14px;
        line-height: 29px;
    }

    @media screen and (max-width: 767px) {
        padding-top: 40px;
    }

    p {
        margin: 0;
    }
}

.swiper-container {
    height: 100vh;
}

.swiper-slide {
    height: auto !important;

    @media screen and (min-width: 768px) {
        height: 100vh !important;
    }
}


.swiper-container-vertical>.swiper-pagination-bullets {
    position: fixed;
    top: 50%;
    right: 200px;
    z-index: 100;
    transform: translate(0, -50%);

    @media screen and (max-width: 1300px) {
        right: 50px;
    }

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.swiper-pagination-bullet {
    width: 50px;
    height: 3px;
    background-color: #666;
    transition: width 0.3s;
    border-radius: 0;

    &:focus {
        outline: none;
    }


    &.swiper-pagination-bullet-active {
        background-color: #BC814C;
        width: 60px;
    }
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 10px 0;
}

.slide-fifth {
    background-image: url('../images/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% center;

    @media screen and (max-width: 1500px) {}

    @media screen and (max-width: 767px) {
        background-image: none;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 75%;
        background: linear-gradient(90deg, #FAFAFA 10%, rgba(250, 250, 250, 0) 100%);
    }

    .slide-wrapper {
        z-index: 2;

        @media screen and (max-width: 767px) {
            position: relative;
            left: auto;
            top: auto;
            transform: translate(0, 0);
        }
    }
}

.slide-img {}

.images-list {

    // display: flex;
    // align-items: flex-start;
    @media screen and (max-width: 767px) {
        .swiper-container {
            overflow: hidden!important;
            height: auto;
            max-height: 250px;
            // /* overflow: visible; */
        }

        .swiper-wrapper {
            display: flex;
        }

        /* overflow: visible; */
    }

    .swiper-slide {
        padding: 0 20px;

        // @media screen and (max-width: 767px) {
        //     min-width: 54%;
        // }

        &:nth-child(1) {
            padding-top: 20%;
        }

        &:nth-child(2) {
            padding-top: 10%;
        }

        &:nth-child(3) {
            padding-top: 5%;

            // @media screen and (max-width: 767px) {
            //     display: none;
            // }
        }

        &:nth-child(4) {
            padding-top: 10%;

            // @media screen and (max-width: 767px) {
            //     display: none;
            // }
        }

        &:nth-child(5) {
            padding-top: 20%;

            // @media screen and (max-width: 767px) {
            //     display: none;
            // }
        }

        &:nth-child(6) {
            padding-top: 20%;
        }

        &:nth-child(7) {
            padding-top: 10%;
        }

        &:nth-child(8) {
            padding-top: 5%;

            // @media screen and (max-width: 767px) {
            //     display: none;
            // }
        }

        &:nth-child(9) {
            padding-top: 10%;

            // @media screen and (max-width: 767px) {
            //     display: none;
            // }
        }

        &:nth-child(10) {
            padding-top: 20%;

            // @media screen and (max-width: 767px) {
            //     display: none;
            // }
        }
    }
}

// .images-item {
//     width: 20%;
//     padding: 0 20px;

//     @media screen and (max-width: 767px) {
//         min-width: 54%;
//     }

//     &:nth-child(1) {
//         padding-top: 20%;
//     }

//     &:nth-child(2) {
//         padding-top: 10%;
//     }

//     &:nth-child(3) {
//         padding-top: 5%;

//         @media screen and (max-width: 767px) {
//             display: none;
//         }
//     }

//     &:nth-child(4) {
//         padding-top: 10%;

//         @media screen and (max-width: 767px) {
//             display: none;
//         }
//     }

//     &:nth-child(5) {
//         padding-top: 20%;

//         @media screen and (max-width: 767px) {
//             display: none;
//         }
//     }
// }

.images-text {
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 10px;
    line-height: 100px;
    color: #BC814C;

    @media screen and (max-width: 767px) {
        letter-spacing: 3px;
        line-height: 40px;
        font-size: 10px;
        opacity: 0.4;
        padding-top: 30px;
        padding-bottom: 60px;
    }
}

.logo {
    @media screen and (max-width: 767px) {
        width: 100px;
        display: block;
        margin-bottom: 20px;
    }


}

.navbar {
    position: absolute;
    top: 40%;
    right: 15%;

    @media screen and (max-width: 767px) {
        position: relative;
        top: auto;
        right: auto;
        margin-bottom: 20px;
        padding-top: 20px;
    }

    li {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        padding: 13px 0;
        cursor: pointer;

        @media screen and (max-width: 767px) {
            font-size: 12px;
            line-height: 36px;
            text-align: center;
            padding: 0;
        }

        @media screen and (max-width: 480px) {
            padding: 10px 0;
        }

        svg path,
        svg rect {
            stroke: #fff;
        }

        &:hover,
        &.active {
            color: #FFDFAB;

            svg path,
            svg rect {
                stroke: #FFDFAB;
            }
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid #FFDFAB;
            // @media screen and (max-width: 767px) {
            //     border: none;
            // }
        }

        svg {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;

            @media screen and (max-width: 767px) {
                max-width: 20px;
            }

            // @media screen and (max-width: 767px) {
            //     display: none;
            // }
        }
    }

    &:after {
        position: absolute;
        height: 1px;
        left: -30px;
        right: -30px;
        bottom: 0;
        background-color: #fff;

        @media screen and (max-width: 767px) {
            content: '';
        }
    }
}

.hidden {
    display: none !important;
}

.form-heading {}

.form-wrapper {
    max-width: 530px;
    margin-bottom: 60px;

    @media screen and (max-width: 767px) {
        max-width: 100%;
        flex: 0 0 100%;
        padding-top: 40px;
        order: 1;
    }

    .form-control {
        background-color: transparent;
    }

    .form-group {
        margin-bottom: 40px;
    }

    .modal-title {
        margin-bottom: 40px;
    }

    .btn-modal {
        padding: 19px 0;
    }
}